#navbar-self{
  width: 100%
}

.name {
  position: absolute;
  align-content: right;
  margin-right: 50px ;
  color: rgb(19, 27, 24);
}

.cart{
  position: absolute;
  right: 10px;
  font-size: xx-large;
}