<div>
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <a class="navbar-brand" href="/">Sport Dorks</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="login">Login</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="register">register</a>
        </li>
        <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
         
        </li> -->
        <li class="nav-item">
          <a class="nav-link inventory" href="inventory">inventory</a>
        </li>

        <li class = "nav-item">
          <a class = "nav-link facilities" href = "facilities">facilities</a>
        </li>

        <li class = "nav-item">
          <a class = "nav-link team" href = "team">team</a>
        </li>

        <li class = "nav-item">
          <a class = "nav-link league" href = "league">league</a>
        </li>
      </ul>
      <!-- <form class="form-inline">
        <input class="form-control" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success " type="submit">Search</button>
      </form> -->
    </div>
  </nav>

</div>

<router-outlet></router-outlet>