.username {
    text-align: center;
}

.password {
    text-align: center;
}

textarea {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

button {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: green;
}