<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <p><input type="text" id="username" name="username" [(ngModel)]="username" placeholder="username" required #name></p>

    <!-- <textarea name="username" id="username" cols="100" rows="1" placeholder="username"></textarea> -->
    <textarea name="password" id="password" cols="23" rows="1" placeholder="passsword" required #pass></textarea>

    <a href="/home">
        <button type = "button" (click)="register(name.value, pass.value) " >register</button>
    </a>

</body>
</html>
