<!DOCTYPE html>
<html lang="en">

<script>
    function savelogin(username, email, password){
        var username = document.getElementById("username").value;
        var password = document.getElementById("password").value;
        var email = document.getElementById("email").value;

        <!-- Takes these variables and makes a new user class with them, 
        will talk more about it during the meeting today -->

    }
</script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <textarea name="username" id="username" cols="30" rows="1" placeholder="username"></textarea>
    <textarea name="email" id="email" cols="30" rows="1" placeholder="email"></textarea>
    <textarea name="password" id="password" cols="30" rows="1" placeholder="password"></textarea>
    <a href="home"><button>register</button></a>
</body>
</html>
