<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <textarea name="username" id="username" cols="30" rows="1" placeholder="username" required #username></textarea>
    <textarea name="password" id="password" cols="30" rows="1" placeholder="password" required #password></textarea>
    <a href="home" (click)="add(username.value, password.value,false,false)"><button>register</button></a>
</body>
</html>
