<h2>League</h2>

<body>
  <ul class="teams">
    <ul *ngFor="let team of teams">
      <a routerLink="/league/{{team.id}}">
        <span class="team id"></span> Team #{{team.id}}
      </a>
        <li *ngFor="let player of team.team">
          <a routerLink="/league/{{team.id}}/{{player.name}}">
            <span class="badge"></span> {{player.name}}, {{player.age}}, {{player.rating}}
          </a>
        </li>
      <button type="button" class="delete" title="delete team"
        (click)="delete(team)">x</button>
    </ul>
  </ul>
</body>
