<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <textarea name="username" id="username" cols="100" rows="1" placeholder="username"></textarea>
    <textarea name="password" id="password" cols="100" rows="1" placeholder="passsword"></textarea>
    <a href="/home">
        <button> login</button> 
    </a>

  
</body>
</html>
