<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1 {text-align: center;}
    
    body {background-color: red;}

</style>
<body>
    
    <h1>Welcome to the Facilities Page!</h1>

        <ul class="Facilities">
          <li *ngFor="let facility of Facilities">
            <span class="badge"><{{facility.name}}, {{facility.location}}, {{facility.facility_id}}, {{facility.team_reserve}}
                <span class="name">{{facility.name}}</span>
        </span> 
        
        </li>
    </ul>
    
    </body>

</html>
