<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    h1 {text-align: center;}
    

</style>
<body>
    
    <h1>Welcome to the Facilities Page!</h1>

    <h2>Facilities</h2>
    <ul class="facilities">
      <li *ngFor="let facility of facilities">
        <button [class.selected]="facility === selectedFacility" type="button" (click)="onSelect(facility)">
          <span class="badge">{{facility.name}}</span>
          <span class="name">{{facility.location}}</span>
        </button>
      </li>
    </ul>
    
    <!-- <div *ngIf="selectedFacility">
      <h2>{{selectedFacility.name | uppercase}} Details</h2>
      <div>id: {{selectedFacility.id</div>
      <div>
        <label for="facility-name">facility name: </label>
        <input id="facility-name" [(ngModel)]="selectedFacility.name" placeholder="name">
      </div>
    </div>
    </body> -->


